:root{
    --font-primary: 'Montserrat', sans-serif;

    --color-primary: #282A39;
    --color-secondary: #333647;
    --color-accent: #E2B91B;
    --color-accent-opacity: rgba(226, 186, 27, 0.250);

    --color-twiiter: #04B0FE;
    --color-whatsapp: #4CB050;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    -webkit-appearance: none;
    color: white;
    -moz-appearance: none;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background: var(--color-primary);
}
a{
    text-decoration: none;
    color: var(--font-primary);
    outline: none;
}
ul, li{
    list-style: none;
}
input, textarea{
    outline: none;
}
textarea{
    resize: none;
}

/* Navigation Bar */
nav{
    background: transparent;
    text-transform: uppercase;
    font-size: 16px;
    padding: 3% 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
}
nav:hover{
    transition: .5s ease-in-out;
    background: var(--color-primary);
}
nav ul{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
nav ul li{
    margin-left: 5%;
}
nav li:hover{
    color: var(--color-accent);
}

/* Hero Section */
.hero{
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    padding: 10% 15% 0 15%;
}
.hero-text{
    padding: 5% 0;
    width: 50%;
}
.hero-text h1{
    font-size: 60px;
}
.hero-text p{
    width: 80%;
    margin: 3% 0 10% 0; 
    font-size: 24px;
}
.cta{
    color: var(--color-accent);
    border: none;
    background: var(--color-accent-opacity);
    padding: 2.5% 10%;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}
.hero-img{
    background: grey;
    width: 35%;
    height: 80%;
    border: 15px solid var(--color-accent);
}

/* About Section */

.about-container{
    height: 100%;
    width: 100%;
    padding: 10% 15%;
    display: flex;
    justify-content: center;
}
.about-img{
    background: grey;
    width: 35%;
    border-radius: 25px;
    margin-right: 2.5%;
    height: 100%;
    -webkit-box-shadow: -15px 15px 0px 0px var(--color-accent); 
    box-shadow: -15px 15px 0px 0px var(--color-accent); 
}
.about-text{
    width: 45%;
    margin-left: 2.5%;
}
.about-text p{
    font-size: 22px;
    margin: 3% 0;
}
.section-title{
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    color: white;
}
.section-span{
    color: var(--color-accent);
}