:root{
    --font-primary: 'Montserrat', sans-serif;

    --color-primary: #282A39;
    --color-secondary: #333647;
    --color-accent: #E2B91B;
    --color-accent-opacity: rgba(226, 186, 27, 0.250);

    --color-twitter: #03A9F4;
    --color-whatsapp: #1BD741
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
    -webkit-appearance: none;
    color: white;
    -moz-appearance: none;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background: var(--color-primary);
}
a{
    text-decoration: none;
    color: var(--font-primary);
    outline: none;
}
ul, li{
    list-style: none;
}
input, textarea{
    outline: none;
}
textarea{
    resize: none;
}

/* Navigation Bar */
nav{
    background: var(--color-secondary);
    text-transform: uppercase;
    font-size: 1rem;
    padding: 3% 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    box-shadow: 10px 0px 10px 10px var(--color-primary);
}
nav:hover{
    transition: .5s ease-in-out;
    background: var(--color-primary);
}
nav ul{
    display: flex;
    width: 100%;
    justify-content: center
}
nav ul li{
    margin-left: 5%;
}
nav li:hover{
    color: var(--color-accent);
}
.section-title{
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    color: white;
    padding-bottom: 5%;
}
span{
    color: var(--color-accent);
}
section{
    padding: 5% 0;
}

/* Hero Section */
#hero{
    padding: 0;
}
.hero{
    width: 100%;
    background-color: #444455;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.hero-text{
    padding: 5% 0;
    width: 50%;
    margin: 10%;
}
.hero-text h1{
    font-size: 60px;
}
.hero-text p{
    margin: 3% 0 10% 0; 
    font-size: 24px;
}
.cta{
    color: var(--color-accent);
    
    border: 1px solid var(--color-accent-opacity);
    background: var(--color-accent-opacity);
    padding: 2.5% 10%;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}
.cta:hover{
    border: 1px solid var(--color-accent);
    text-decoration: underline;
}
.img-wrapper{
    position: absolute;
    right: 10%;
    top: 15%;
    width: 35%;
}
.img-wrapper img{
    /* background-image: url('./assets/hero-placeholder.jpg');
    background-size: cover;
    background-position: center; */
    width: 80%;
    margin: 10%;
    border: 15px solid var(--color-accent);
}

/* About Section */

#about{
    padding-bottom: 0;
}
.about-container{
    height: 100%;
    width: 100%;
    padding: 0 15%;
    display: flex;
    justify-content: center;
}
.about-img{
    background: grey;
    width: 35%;
    border-radius: 25px;
    margin-right: 2.5%;
    height: 65%;
    -webkit-box-shadow: -15px 15px 0px 0px var(--color-accent); 
    box-shadow: -15px 15px 0px 0px var(--color-accent); 
}
.about-text{
    width: 45%;
    margin-left: 2.5%;
}
.about-text .section-title{
    padding: 0;
}
.about-text p{
    font-size: 1.3rem;
    margin: 3% 0;
}

/* Services Section */

#services{
    padding: 0;
}
.services-container{
    display: flex;
    padding: 0 20%;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.service-card{
    width: 21%;
    height: 200px;
    background: var(--color-secondary);
    box-shadow: 0px 0px 10px 0px #646464;
    border-radius: 25px;
    margin: 2%;
    padding: 0 1%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.service-card:hover span{
    color: var(--color-primary);
}
.service-card:hover{
    transition: .25s ease-in-out;
    transform: scale(1.1);
    background: var(--color-accent);
    color: var(--color-primary);
}
.service-card ion-icon{
    width: 50px;
    height: 50px;
    margin: 5% 0;
}

/* Engagement Process Section */

#engagement-process .section-title{
    padding-bottom: 0;
}
.img-container{
    width: 100%;
    height: 100%;
    margin-top: 2.5%;
    background-image: url('../img/engagement-process-diagram.png');
    background-size: cover;
    background-position: center;
}

/* Pitch Deck Section */

#pitch-deck{
    background: var(--color-secondary);
}
.pitch-deck-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.pitch-deck-card{
    background: var(--color-primary);
    width: 500px;
    margin: 2.5%;
    text-align: center;
    box-shadow: 0px 0px 20px 5px var(--color-accent-opacity);
    padding: 2.5% 0;
    border-radius: 10px;
}
.pitch-deck-card h1{
    text-transform: uppercase;
    margin-bottom: 1%;
}
.pitch-deck-card p{
    width: 80%;
    margin: 0 auto;
}
.pitch-deck-icon{
    width: 75px;
    height: 75px;
    margin-top: 25px;
    color: var(--color-accent);
}

/* Companies Section */

.companies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 10%;
}
.companies-container .company-card{
    width: 300px;
    height: 300px;
    margin: 5% 1%;
    border-radius: 15px;
    
}
.companies-container .company-name{
    text-align: center;
    margin: 2.5% 0;
    text-transform: uppercase;
    font-family: var(--font-primary);
}
.company-card img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: white;
    padding: 5%;
}
#img-slush{
    padding: 0;
    background: var(--color-primary)
}

/* Testimonials Section */

.testimonials-container{
    padding: 0 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.testimonial-card{
    background: rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 2.5%;
    padding: 0 3%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.card-review{
    display: flex;
    margin: 5% 0;
}
.card-review img{
    width: 100px;
    height: 100px;
    margin-right: 2.5%; 
}
.card-review p{
    font-size: 1.25rem;
    margin-top: 5%;
}
.card-client{
    margin: 5% 0;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.card-client h2{
    font-size: 2rem;
}
.client-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background: url('../img/avatar-placeholder.jpg');
    background-size: cover;
    background-position: center;
}

.card-large{
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5%;
    padding: 5% 0;
}
.card-large .card-client{
    flex-flow: column;
    margin: 0;
    align-items: center;
    text-align: center;
}
.card-large .card-client .client-img{
    margin: 20% 0;
}
.card-large .card-review{
    position: relative;
    text-align: center;
    flex-flow: column;
    margin: 0;
    width: 90%;
    padding: 0 10%;
}
.card-large .card-review p{
    margin-top: 1%;
}
.card-large img{
    position: absolute;
    top: -100%;
    left: 0;
}

/* Twitter Section */

.twitter-container{
    width: 100%;
    height: 80%;
    display: flex;
    background: rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
}
.twitter-copy{
    display: flex;
    padding-left: 15%;
    width: 50%;
    flex-flow: column;
}
.twitter-copy h2{
    margin-bottom: 5%;
    align-self: flex-start;
    font-size: 32px;
}
.twitter-copy p{
    align-self: flex-start;
    width: 80%;
    margin-bottom: 5%;
    font-size: 20px;
}
.tweet-embed{
    width: 50%;
    height: 100%;
}
.tweet-embed img{
    height: 100%;
    width: auto;
}
.twitter-follow{
    width: 60%;
    border-radius: 15px;
    text-align: center;
    margin-top:  5%;
    padding: 1% 3%;
    font-size: 16px;
    background: var(--color-twitter);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}
.twitter-follow label{
    cursor: pointer;
    white-space: nowrap;
}
.twitter-follow i{
    padding: 20px 10px;
}
.twitter-contents{
    align-self: flex-start;
    width: 100%;
}
.tweet-category{
    display: flex;
    align-items: center;
}
.tweet-category img{
    width: 40px;
    height: 35px;
    margin: 2% 2.5%;
}

/* Contact Section */

.contact-container{
    font-family: var(--font-primary);
    padding-bottom: 5%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.contact-container .contact-card{
    width: 30%;
    margin: 1% auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.contact-container .contact-card h3{
    font-size: 1.5rem;
    margin-bottom: 3%;
    text-transform: uppercase;
}
.contact-container .contact-card p{
    text-align: center;
    width: 80%;
    margin-bottom: 10%;
}
.contact-container .contact-card .contact-cta{
    border: 1px solid var(--color-accent);
    padding: 20px 50px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-accent);
    font-weight: bold;
}
.contact-container .contact-card .contact-cta:hover{
    transition: all 0.25s ease-in-out;
    background: var(--color-accent);
    color: var(--color-primary);
}
.icon-contact{
    width: 100px;
    height: 100px;
    margin: 5% 0;
}
#icon-contact-email{
    color: white;
}
#icon-contact-twitter{
    color: var(--color-twitter);
}
#icon-contact-whatsapp{
    color: #25D366;
}

.btn-backtotop{
    width: 20px;
    height: 20px;
    background: var(--color-accent);
    border-radius: 50%;
    padding: 10px;
    color: white;
    position: fixed;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
    z-index: 99;
    display: none;
}
.btn-visible{
    display: block;
}

